img{
    max-width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    @include md {
        padding-left: 15px;
        padding-right: 15px;
    }
}